<ion-view view-title="Inicio Sesion">
  <ion-content>
      <div class="list list-inset">
      <label class="item item-input">        
        <input type="text" ng-model="user.email" placeholder="Email">
      </label>
      <label class="item item-input">        
        <input type="password" ng-model="user.password" placeholder="Password">
      </label>
      <label class="item">
        <button class="button button-block button-assertive" ng-click="validateUser()">
          Iniciar Sesion
        </button>
      </label>
      <a class="item button button-clear button-assertive" href="#/tab/sign-up"> <small> Registrarse</small></a>
    </div>
  </ion-content>
</ion-view>
