<ion-view view-title="Map">
  <ion-content>
  	<div class="list card">

	    <div class="item item-divider">
        <h2>Ubicacion</h2>
        <p><b>Latitud: </b>{{product.location.latitude}}</p>
        <p><b>Longitud: </b>{{product.location.longitude}}</p>
      </div>
      
	    <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#/tab/dash/{{product.$id}}">
          <i class="icon ion-document-text" ></i>
          Descripcion
        </a>
        <a class="tab-item active" href="#">
          <i class="icon ion-ios-location"></i>
          Ubicacion
        </a>
        <a class="tab-item" href="#/tab/contact/{{product.$id}}" >
          <i class="icon ion-person"></i>
          Contacto
        </a>
      </div>
    </div>
    <div id="map1" class="map" data-tap-disabled="true"></div>
    
  </ion-content>
</ion-view>
